ion-toolbar{
    background-color: var(--ion-color-mystyle);
}
ion-searchbar{
    width: auto;
    padding: 10px 10px 10px 10px;
}
#nanUsers{
    margin-top: 10px;
    width: auto;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}